html, body {
	height: 100%;
}

iframe {
	border: none;
}

pre {
	border: none;
}


body {
  padding-top: 64px;
}

@media (min-width:768px) {
  body>.navbar-transparent {
    background-color: transparent;
  }

  body>.navbar-transparent .navbar-nav>.open>a {
    background-color: transparent!important;
  }
}