---
layout: default
---

<style>
.tools .heading, .collaborate .heading {
  margin-bottom: 15px;  
}
.tools .heading h2, .collaborate .heading h2 {
  text-align: center;
}
.tools .heading .glyphicon, .collaborate .heading .glyphicon {
  margin-top: -0.2em;
  vertical-align: middle;
}
.collaborate {
  margin-top: 20px;
}
.footer {
  text-align: center;
}
</style>

<div class="jumbotron">
	<div class="container">
	  <h1>CoverageJSON</h1>
	  <p>A format for publishing geotemporal data to the web.</p>
	  <p>
	    <a class="btn btn-lg btn-primary" href="/playground/" role="button">Go to Playground &raquo;</a>
	  </p>
	</div>
</div>

<div class="container tools">
  <div class="row heading">
    <h2 class="span12"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Tools</h2>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>JavaScript</h4></div>

        <div class="list-group">
        {% for tool in site.data.tools.javascript %}
          <a href="{{ tool.url }}" class="list-group-item">
            <h5 class="list-group-item-heading">{{ tool.name }}</h5>
            <p class="list-group-item-text">{{ tool.description }}</p>
          </a>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Java</h4></div>

        <div class="list-group">
        {% for tool in site.data.tools.java %}
          <a href="{{ tool.url }}" class="list-group-item">
            <h5 class="list-group-item-heading">{{ tool.name }}</h5>
            <p class="list-group-item-text">{{ tool.description }}</p>
          </a>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Python</h4></div>

        <div class="list-group">
        {% for tool in site.data.tools.python %}
          <a href="{{ tool.url }}" class="list-group-item">
            <h5 class="list-group-item-heading">{{ tool.name }}</h5>
            <p class="list-group-item-text">{{ tool.description }}</p>
          </a>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container collaborate">
  <div class="row heading">
    <h2 class="span12"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Getting Help / Collaborating</h2>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Contribute</h4></div>

        <div class="list-group">
        
          <a href="https://github.com/covjson/specification" class="list-group-item">
            <h5 class="list-group-item-heading"><img src="/img/GitHub-Mark-64px.png" width=32 /> covjson/specification</h5>
          </a>
        
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Discuss</h4></div>

        <div class="list-group">
        
          <a href="https://gitter.im/covjson/specification" class="list-group-item">
            <h5 class="list-group-item-heading"><img src="https://img.shields.io/gitter/room/gitterHQ/gitter.svg" height=32 /></h5>
          </a>
        
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Contact Us</h4></div>

        <div class="list-group">
        
          <a href="mailto:m.riechert@reading.ac.uk,j.d.blower@reading.ac.uk?Subject=CoverageJSON" class="list-group-item">
            <h5 class="list-group-item-heading"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email</h5>
          </a>
        
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container footer">
  <hr>
  <p>
    Copyright &copy; 2015 The University of Reading.
    CoverageJSON is developed within the <a href="http://www.melodiesproject.eu">MELODIES project</a>.
  </p>
</div>
