---
layout: default
title: Tools
permalink: /tools/
---

<style>
.tools .panel-heading h3 {
  margin-top: 12px;
  margin-bottom: 12px;  
}
</style>

<div class="container tools">
  <div class="page-header">
    <h2>Tools</h2>
  </div>
  <div class="row">
    <div class="col-md-4">
	    <div class="panel panel-default">
			  <div class="panel-heading"><h3>JavaScript</h3></div>

	      <div class="list-group">
	      {% for tool in site.data.tools.javascript %}
          <a href="{{ tool.url }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ tool.name }}</h4>
            <p class="list-group-item-text">{{ tool.description }}</p>
          </a>
        {% endfor %}
        </div>
	    </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Java</h3></div>

        <div class="list-group">
        {% for tool in site.data.tools.java %}
          <a href="{{ tool.url }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ tool.name }}</h4>
            <p class="list-group-item-text">{{ tool.description }}</p>
          </a>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Python</h3></div>

        <div class="list-group">
        {% for tool in site.data.tools.python %}
          <a href="{{ tool.url }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ tool.name }}</h4>
            <p class="list-group-item-text">{{ tool.description }}</p>
          </a>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">How to add your tool</h3>
    </div>
    <div class="panel-body">
      Just submit a pull request for the 
      <a href="https://github.com/covjson/covjson.github.io/blob/master/_data/tools.yaml">tools.yaml</a>
      file on GitHub, and once accepted, your tool will appear here immediately.
      <a href="https://github.com/covjson/covjson.github.io/issues/new">Create an issue</a>
      if your tool is written in a language other than the ones above.
    </div>
  </div>
</div>
