<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>CoverageJSON</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="CoverageJSON is a geospatial coverage interchange format based on JavaScript Object Notation (JSON).">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/syntax-highlight.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand"><img height="30" src="/logo_small.png"> CoverageJSON</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li><a href="/playground/">Playground</a></li>
            <li><a href="/cookbook/">Cookbook</a></li>
            <li><a href="https://github.com/Reading-eScience-Centre">Tools</a></li>
            <li><a href="/spec/">Specification</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a aria-label="Star CoverageJSON on GitHub" data-count-aria-label="# stargazers on GitHub" data-count-api="/repos/covjson/specification#stargazers_count" data-count-href="/covjson/specification/stargazers" data-style="mega" href="https://github.com/covjson/specification" class="github-button">Star</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    {{ content }}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>