name: "Jekyll build"

on:
  pull_request:
  workflow_dispatch:

jobs:
  jekyll:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: ./.github/actions/build-playground
      with:
        outPath: ./playground

    - uses: helaili/jekyll-action@v2
      with:
        build_only: true
        jekyll_build_options: -d _site
    
    - uses: actions/upload-artifact@v4
      with:
        name: page
        path: _site
